---
http_interactions:
- request:
    method: get
    uri: https://api.medium.com/v1/publications/eca1ba5ae1ca/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Sepia-Upstream:
      - medium
      Link:
      - <https://medium.com/humans.txt>; rel="humans"
      Medium-Fulfilled-By:
      - valencia/main-20240202-092338-c856578433
      X-Obvious-Info:
      - 20240202-1940-root,e021415e
      X-Opentracing:
      - '{"ot-tracer-spanid":"3453b2e60face0ff","ot-tracer-traceid":"23cd311f4af50f05","ot-tracer-sampled":"true"}'
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"An access token is required.","code":6000}]}'
  recorded_at: Sat, 03 Feb 2024 01:47:45 GMT
recorded_with: VCR 6.2.0
